@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";

* {
  margin: 0;
  padding: 0;
  font-family: "Lato-Regular";
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $neutral;
}

a {
  text-decoration: none;
}

.App {
  @include flex-column;
  align-items: center;
  background-color: lightblue;
  height: 80rem;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.116),
      rgba(175, 222, 255, 0.73)
    ),
    url(../assets/images/luca-bravo-O453M2Liufs-unsplash.jpg);
  background-size: contain;
}
