.header {
  @include flex-column;
  @include justify-align-center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__form {
    @include flex-row;
    justify-content: center;
    align-items: center;
    background-color: $neutral;
    border-radius: 30px;
    // box-shadow: 2px 2px 4px #00000034;
    box-shadow: 3px 3px 6px #00000034, -3px -3px 6px #ffffff58;
    height: 6rem;
    width: 48rem;
    // padding: 1rem;
  }
  &__location-icon {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50px;
    box-shadow: 3px 3px 6px #cacaca, -3px -3px 6px #ffffff;
    padding: 0.5rem;
    &:hover {
      transform: scale(1.1);
      transition: $transition-900;
    }
  }
  &__price-icon {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50px;
    box-shadow: 3px 3px 6px #cacaca, -3px -3px 6px #ffffff;
    padding: 0.5rem;
    margin-right: 0.7rem;
    &:hover {
      transform: scale(1.1);
      transition: $transition-900;
    }
  }
  &__destination-input {
    font-family: "Lato-Regular";
    font-size: 0.8rem;
    background-color: $neutral;
    height: 2.5rem;
    width: 15rem;
    padding-left: 1rem;
    margin-right: 2rem;
    margin-left: 0.7rem;
    // border: 0.5px solid white;
    border: none;
    border-radius: 15px;
    box-shadow: inset 2px 2px 4px #b6b5b5, inset -2px -2px 4px #fefefe;
  }
  &__price {
    @include flex-row;
    margin-right: 2rem;
  }
  &__price-input {
    font-family: "Lato-Regular";
    font-size: 0.8rem;
    background-color: $neutral;
    height: 2.3rem;
    width: 5rem;
    padding-left: 1rem;
    margin-right: 1rem;
    // border: 0.5px solid white;
    border: none;
    border-radius: 15px;
    box-shadow: inset 2px 2px 4px #b6b5b5, inset -2px -2px 4px #fefefe;
  }
  &__btn {
    font-family: "Lato-Light";
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    color: $dark-blue;
    height: 2.5rem;
    width: 6rem;
    border: 1px solid white;
    // border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 7px #b6b5b5, -2px -2px 7px #fefefe;
    cursor: pointer;
    &:disabled {
      box-shadow: inset 2px 2px 4px #b6b5b5, inset -2px -2px 4px #fefefe;
      color: #a7a7a7;
      background-color: #eeeeee;
    }
    &:hover {
      background-color: $medium-blue;
      color: white;
      transition: $transition-900;
    }
  }
}
