.noResults {
  @include flex-column;
  @include justify-align-center;
  background-color: $neutral;
  width: 34rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #00000034;
  margin-top: 1rem;
  margin-bottom: 50rem;

  &__text {
    color: $dark-blue;
    font-size: 1rem;
    font-family: "Lato-Light";
    margin: 1rem;
    padding: 1rem 3rem;
    border-radius: 20px;
    box-shadow: inset 4px 4px 6px #cacaca, inset -4px -4px 6px #fcfcfc;
  }
}
